.onlyBackgroundColor {
    width: 500px;
    height: 150px;
    background: red;
}

.twoColorsBackground {
    width: 500px;
    height: 150px;
    background: linear-gradient(red, green);
}

.multipleColorsBackground {
    width: 500px;
    height: 150px;
    background: linear-gradient(red, green, blue, yellow);
}

.gradientColorDirectionsToTop {
    width: 500px;
    height: 150px;
    background: linear-gradient(to top, red, green, blue, yellow);
}

