.onlyBackgroundColor {
    width: 500px;
    height: 150px;
    background: red;
}

.twoColorsBackground {
    width: 500px;
    height: 150px;
    background: linear-gradient(red, green);
}

.threeColorsBackground {
    width: 500px;
    height: 150px;
    background: linear-gradient(red, green);
}